    body {
        background: #03101a;
        justify-content: center;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-size: large;
        font-weight: 100;
    }
    
    a:link {
        color: #0b69a3;
    }
    
    a:visited {
        color: #ccc;
    }
    
    h1 {
        color: #DEB992;
        font-weight: 100;
    }
    
    h3 {
        color: #1BA098;
        font-weight: 100;
    }
    
    .container {
        max-width: 750px;
        margin: auto;
        background-color: #051622;
        color: #fff;
        padding: 50px;
    }
    
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        /* width: 50%; */
    }
    
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 20 px;
        padding-right: 10px;
    }
    
    .column {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: small;
    }
    
    .sideimg {
        padding-right: 10px;
    }